* {
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #20242c;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  margin-left: 10px;
  margin-right: 10px;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 5px;
}

table {
  width: 100%;
}

td {
  text-align: center;
}

th {
  color: #6d6477;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 5px;
  background-color: #7a7685;
  border-color: #7a7685;
}

h1, h4 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:slategray;
  border-radius: 10px;
}

#login > input {
  margin-top: 15px;
  margin-bottom: 15px;
}

#login > button {
  margin-bottom: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
